<div class="main-layout full">
  <div class="flex flex-col gap-4 py-8">
    <app-info-table [informations]="disksInfoTable()" />

    <div class="border border-sky-400 backdrop-saturate-200 bg-white/20">
      <app-disks-usage-chart [disksFsData]="disksStatus()?.fsSize" />
    </div>

    <section class="flex flex-wrap justify-center items-start gap-8 py-4">
      <!-- <app-cpu-core-preview
        *ngFor="let core of cpuCoresStatus(); trackBy: trackByCoreIndex"
        [load]="core.load"
        [speed]="core.speed"
        [temperature]="core.temperature" /> -->
    </section>
  </div>
</div>
