<div class="main-layout full">
  <div class="flex flex-col gap-4 py-8">
    <app-info-table
      [headers]="['Total', 'Used', 'Free']"
      [rows]="disksInfoTable()" />

    <app-disks-usage-chart
      [disksFsData]="disksStatus()?.fsSize"
      [theme]="userSettings().theme" />

    <section class="flex flex-wrap gap-8 py-4">
      <app-disk-drive-preview
        *ngFor="
          let data of disksLayoutData();
          let i = index;
          trackBy: trackByDriveIndex
        "
        [diskLayoutData]="data"
        [index]="i"
        [selectedIndex]="selectedDiskDriveIdx()"
        (onClick)="handleSelectedSlot($event)" />
    </section>

    <app-info-table [informations]="selectedDiskDrive()" />
  </div>
</div>
