<div class="main-layout full">
  <div class="flex flex-col gap-4 py-8">
    <app-info-table [informations]="cpuInfoTable()" />

    <app-cpu-utilization-chart
      [cpuLoad]="cpuStatus()?.load"
      [cpuTemperature]="cpuStatus()?.temperature"
      [maxRecords]="hwServiceSettings().maxRecords"
      [randomizeCpuTemperature]="hwServiceSettings().randomizeCpuTemperature"
      [theme]="hwServiceSettings().theme" />

    <section
      class="flex flex-wrap gap-x-8 gap-y-4 px-6 py-4 border border-slate-400 dark:border-sky-400 bg-white/10">
      <app-cpu-core-preview
        *ngFor="let core of cpuCoresStatus(); trackBy: trackByCoreIndex"
        [load]="core.load"
        [speed]="core.speed"
        [temperature]="core.temperature" />
    </section>
  </div>
</div>
