<div>
  <h1>CPU: {{ cpuLabel() }}</h1>
  <app-cpu-utilization-chart
    [cpuLoad]="cpuStatus()?.load"
    [cpuTemperature]="cpuStatus()?.temperature"
    [maxRecords]="hwServiceSettings().maxRecords"
    [randomizeCpuTemperature]="hwServiceSettings().randomizeCpuTemperature" />

  <div class="cpu-info">
    <p>Utilization: {{ cpuCurrentLoad() }}%</p>
    <p>Speed: {{ cpuStatus()?.speed?.avg }}GHz</p>
    <p>Cores: {{ cpuData()?.cores }}</p>
    <p>Physical Cores: {{ cpuData()?.physicalCores }}</p>
    <p>Socket: {{ cpuData()?.socket }}</p>
  </div>
</div>
