<header class="main-header main-layout full">
  <nav class="main-nav">
    <a class="brand" routerLink="/">
      <ng-icon name="bootstrapCpu" />
      <span class="brand-label">My Hardware</span>
    </a>

    <ul class="nav-links">
      <li>
        <a class="nav-link-item" routerLink="/cpu" routerLinkActive="active"
          >CPU</a
        >
      </li>
      <li>
        <a class="nav-link-item" routerLink="/memory" routerLinkActive="active"
          >Memory</a
        >
      </li>
      <li>
        <a class="nav-link-item" routerLink="/disk" routerLinkActive="active"
          >Disk</a
        >
      </li>
    </ul>
  </nav>
</header>
